body {
    background-color: #f0f0f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background: rgb(65, 61, 61);
    color: white;
    margin-left: 5px;
    padding-left: 5px;
    width : 100%;
    position: fixed;
}
footer {
    background: rgb(65, 61, 61);
    color: white;
    margin-top: 20px; // 20px is the space between the footer and the last content of the main page
    padding: 5px;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
    margin: 10px 0 ;
    padding-top: 130px;
    position: static;
}
h3 {
    text-decoration: underline;
    color: rgb(12, 54, 82);
    margin-left: 10px;
}
input {
    margin: 5px 0px 5px 5px;
}
.contact {
    background-color: rgb(161, 161, 190);
    border: 2px solid black;
    display: block;

}
button {
    margin: 0 0 0 5px;
}
a {
    color: rgb(62, 226, 12);
    text-decoration: none;
}
li {
        display: inline;
        margin-right: 20px;
}
ul {
    text-align: right;
}
#footer-list {
    display: inline;
    text-align: center;
}